########################################################################### ###
#@Copyright     Copyright (c) Imagination Technologies Ltd. All Rights Reserved
#@License       Strictly Confidential.
### ###########################################################################

config POWERVR_ROGUE
	tristate "PowerVR Rogue"
	depends on HAS_IOMEM
	depends on DRM
	select DRM_KMS_HELPER
	select POWERVR_DRMPDP
	help
	  Driver for PowerVR Rogue graphics hardware.

	  Say Y here if your SoC contains a PowerVR Rogue GPU. For more
	  information, see <http://www.imgtec.com/powervr/>.

config POWERVR_ROGUE_XT
	bool "Enable PowerVR Rogue for mediatek 8173"
	depends on POWERVR_ROGUE
	default n
	help
	  By default, the driver is built for the MT8135.
	  Choose this option if you are building for the MT8173.