#
# MediaTek SoC drivers
#
config MTK_PMIC_WRAP
	tristate "MediaTek PMIC Wrapper Support"
	depends on ARCH_MEDIATEK
	select REGMAP
	help
	  Say yes here to add support for MediaTek PMIC Wrapper found
	  on the MT8135 and MT8173 SoCs. The PMIC wrapper is a proprietary
	  hardware to connect the PMIC.

config MTK_SCPSYS
	tristate "MediaTek SCPSYS Support"
	help
	  Say yes here to add support for the MediaTek SCPSYS power domain
	  driver.

config MTK_SMI
        bool
	help
	  Smi help enable/disable iommu in mt8173 and control the
	  clock of each local arbiter.
	  It should be true while MTK_IOMMU enable.
