/*
 * Copyright (c) 2014 MediaTek Inc.
 * Author: Joe.C <yingjoe.chen@mediatek.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
#include "mt8135.dtsi"
#include "mt8135-mt6397.dtsi"

/ {
	model = "mt8135-evbp1";
	memory {
		reg = <0 0x80000000 0 0x40000000>;
	};

	soc {
			spi1@11016000 {
			pinctrl-names = "default";
			pinctrl-0 = <&spi1_pins_a>;
			status = "okay";
		};

		mmc0@11230000 {
			pinctrl-names = "default";
			pinctrl-0 = <&mmc0_pins_a>;
			status = "okay";
		};

		mmc1@11240000 {
			pinctrl-names = "default";
			pinctrl-0 = <&mmc1_pins_a>,
				<&mmc1_cd_pin_reference_design>;
			status = "okay";
		};
	};

	sound {
		compatible = "mediatek,mt8135-evbp1";
		clocks = <&audio_ck>,
			<&afe_ck>;
		clock-names =   "infra_audio_clk",
				"afe_clk";
		mediatek,audio-codec = <&mt6397codec>;
		pinctrl-names = "default";
		pinctrl-0 = <&aud_mtkif>;
		status = "okay";
	};
};
&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins_a>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_a>;
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins_a>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins_a>;
	status = "okay";
};

&usb0 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_pins_a>;
	status = "okay";
};
