/*
 * Copyright (c) 2014 MediaTek Inc.
 * Author: Joe.C <yingjoe.chen@mediatek.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/reset-controller/mt8135-resets.h>
#include "skeleton64.dtsi"
#include "mt8135-clocks.dtsi"
#include "mt8135-pinfunc.h"
#include <dt-bindings/pinctrl/mt65xx.h>

/ {
	compatible = "mediatek,mt8135";
	interrupt-parent = <&gic>;
	cpu-map {
		cluster0 {
			core0 {
				cpu = <&cpu0>;
			};
			core1 {
				cpu = <&cpu1>;
			};
		};

		cluster1 {
			core0 {
				cpu = <&cpu2>;
			};
			core1 {
				cpu = <&cpu3>;
			};
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			cci-control-port = <&cci_control2>;
			reg = <0x000>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			cci-control-port = <&cci_control2>;
			reg = <0x001>;
		};

		cpu2: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			cci-control-port = <&cci_control1>;
			reg = <0x100>;
		};

		cpu3: cpu@101 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			cci-control-port = <&cci_control1>;
			reg = <0x101>;
		};
	};

	clocks {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		system_clk: dummy13m {
			compatible = "fixed-clock";
			clock-frequency = <13000000>;
			#clock-cells = <0>;
		};

		rtc_clk: dummy32k {
			compatible = "fixed-clock";
			clock-frequency = <32000>;
			#clock-cells = <0>;
		};
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		timer: timer@10008000 {
			compatible = "mediatek,mt6577-timer";
			reg = <0 0x10008000 0 0x80>;
			interrupts = <GIC_SPI 113 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&system_clk>, <&rtc_clk>;
			clock-names = "system-clk", "rtc-clk";
		};

		infracfg: syscon@10001000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "mediatek,mt8135-infracfg", "syscon";
			reg = <0 0x10001000 0 0x1000>;

			infrarst: reset-controller@30 {
				#reset-cells = <1>;
				compatible = "mediatek,mt8135-infracfg-reset", "mediatek,reset";
				reg = <0x30 0x8>;
			};
		};

		pericfg: syscon@10003000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "mediatek,mt8135-pericfg", "syscon";
			reg = <0 0x10003000 0 0x1000>;

			perirst: reset-controller@00 {
				#reset-cells = <1>;
				compatible = "mediatek,mt8135-pericfg-reset", "mediatek,reset";
				reg = <0x00 0x8>;
			};
		};

		pwrap: pwrap@1000f000 {
			compatible = "mediatek,mt8135-pwrap";
			reg = <0 0x1000f000 0 0x1000>,
				<0 0x11017000 0 0x1000>;
			reg-names = "pwrap-base", "pwrap-bridge-base";
			interrupts = <GIC_SPI 128 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&infrarst MT8135_INFRA_PMIC_WRAP_RST>,
					<&perirst MT8135_PERI_PWRAP_BRIDGE_SW_RST>;
			reset-names = "infra-pwrap-rst",
					"peri-pwrap-bridge-rst";
			clocks = <&pmicspi_sel>, <&clk26m> ;
			clock-names = "pmicspi-sel", "pmicspi-parent";

			pmic {
				compatible = "mediatek,mt6397";
				#address-cells = <1>;
				#size-cells = <1>;
				interrupt-parent = <&pio>;
				interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;

				rtc:rtc@8000 {
					reg = <0x8000 0x3e>;
				};

				mt6397codec: mt6397codec {
					compatible = "mediatek,mt6397-codec";
				};

				pinctrl@0x0000C000 {
					compatible = "mediatek,mt6397-pinctrl";
					reg = <0 0x0000C000 0 0x0108>;
					gpio-controller;
				};

				regulators {
					mt6397_vpca15_reg: buck_vpca15 {
						regulator-name = "vpca15";
						regulator-min-microvolt = < 700000>;
						regulator-max-microvolt = <1493750>;
						regulator-ramp-delay = <12500>;
						regulator-enable-ramp-delay = <200>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_vpca7_reg: buck_vpca7 {
						regulator-name = "vpca7";
						regulator-min-microvolt = < 700000>;
						regulator-max-microvolt = <1493750>;
						regulator-ramp-delay = <12500>;
						regulator-enable-ramp-delay = <115>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_vsramca15_reg: buck_vsramca15 {
						regulator-name = "vsramca15";
						regulator-min-microvolt = < 700000>;
						regulator-max-microvolt = <1493750>;
						regulator-ramp-delay = <12500>;
						regulator-enable-ramp-delay = <115>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_vsramca7_reg: buck_vsramca7 {
						regulator-name = "vsramca7";
						regulator-min-microvolt = < 700000>;
						regulator-max-microvolt = <1493750>;
						regulator-ramp-delay = <12500>;
						regulator-enable-ramp-delay = <115>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_vcore_reg: buck_vcore {
						regulator-name = "vcore";
						regulator-min-microvolt = < 700000>;
						regulator-max-microvolt = <1493750>;
						regulator-ramp-delay = <12500>;
						regulator-enable-ramp-delay = <115>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_vgpu_reg: buck_vgpu {
						regulator-name = "vgpu";
						regulator-min-microvolt = < 700000>;
						regulator-max-microvolt = <1493750>;
						regulator-ramp-delay = <12500>;
						regulator-enable-ramp-delay = <115>;
					};

					mt6397_vdrm_reg: buck_vdrm {
						regulator-name = "vdrm";
						regulator-min-microvolt = < 800000>;
						regulator-max-microvolt = <1593750>;
						regulator-ramp-delay = <12500>;
						regulator-enable-ramp-delay = <500>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_vio18_reg: buck_vio18 {
						regulator-name = "vio18";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <1800000>;
						regulator-ramp-delay = <12500>;
						regulator-enable-ramp-delay = <500>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_vtcxo_reg: ldo_vtcxo {
						regulator-name = "vtcxo";
						regulator-min-microvolt = <2800000>;
						regulator-max-microvolt = <2800000>;
						regulator-enable-ramp-delay = <90>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_va28_reg: ldo_va28 {
						regulator-name = "va28";
						regulator-min-microvolt = <2800000>;
						regulator-max-microvolt = <2800000>;
						regulator-enable-ramp-delay = <218>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_vcama_reg: ldo_vcama {
						regulator-name = "vcama";
						regulator-min-microvolt = <1500000>;
						regulator-max-microvolt = <2800000>;
						regulator-enable-ramp-delay = <218>;
					};

					mt6397_vio28_reg: ldo_vio28 {
						regulator-name = "vio28";
						regulator-min-microvolt = <2800000>;
						regulator-max-microvolt = <2800000>;
						regulator-enable-ramp-delay = <240>;
						regulator-always-on;
						regulator-boot-on;
					};

					mt6397_usb_reg: ldo_usb {
						regulator-name = "usb";
						regulator-min-microvolt = <3300000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <218>;
					};

					mt6397_vmc_reg: ldo_vmc {
						regulator-name = "vmc";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <218>;
					};

					mt6397_vmch_reg: ldo_vmch {
						regulator-name = "vmch";
						regulator-min-microvolt = <3000000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <218>;
					};

					mt6397_vemc_3v3_reg: ldo_vemc3v3 {
						regulator-name = "vemc_3v3";
						regulator-min-microvolt = <3000000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <218>;
						regulator-boot-on;
					};

					mt6397_vgp1_reg: ldo_vcamd {
						regulator-name = "vgp1";
						regulator-min-microvolt = <1220000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <240>;
					};

					mt6397_vgp2_reg: ldo_vcamio {
						regulator-name = "vgp2";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <218>;
					};

					mt6397_vgp3_reg: ldo_vcamaf {
						regulator-name = "vgp3";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <218>;
					};

					mt6397_vgp4_reg: ldo_vgp4 {
						regulator-name = "vgp4";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <218>;
					};

					mt6397_vgp5_reg: ldo_vgp5 {
						regulator-name = "vgp5";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <3000000>;
						regulator-enable-ramp-delay = <218>;
					};

					mt6397_vgp6_reg: ldo_vgp6 {
						regulator-name = "vgp6";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <218>;
					};

					mt6397_vibr_reg: ldo_vibr {
						regulator-name = "vibr";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <218>;
					};
				};
			};
		};

                intpol: intpol@10200030 {
                        compatible = "mediatek,mt6577-intpol";
                        reg = <0 0x10200030 0 0x1c>;
                };

		watchdog: watchdog@10000000 {
			compatible = "mediatek,mt6577-watchdog";
			reg = <0 0x10000000 0 0x100>;
		};

		gic: interrupt-controller@10211000 {
			compatible = "arm,cortex-a15-gic";
			interrupt-controller;
			#interrupt-cells = <3>;
			reg = <0 0x10211000 0 0x1000>,
			      <0 0x10212000 0 0x1000>,
			      <0 0x10214000 0 0x2000>,
			      <0 0x10216000 0 0x2000>;
		};

		cci@10320000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "arm,cci-400";
			reg = <0 0x10320000 0 0x10000>;
			ranges = <0x0 0x0 0x10320000 0x10000>;

			cci_control1: slave-if@4000 {
				compatible = "arm,cci-400-ctrl-if";
				interface-type = "ace";
				reg = <0x4000 0x1000>;
			};

			cci_control2: slave-if@5000 {
				compatible = "arm,cci-400-ctrl-if";
				interface-type = "ace";
				reg = <0x5000 0x1000>;
			};

			pmu@9000 {
				compatible = "arm,cci-400-pmu";
				reg = <0x9000 0x5000>;
				interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_LOW>,
					     <GIC_SPI 25 IRQ_TYPE_LEVEL_LOW>,
					     <GIC_SPI 29 IRQ_TYPE_LEVEL_LOW>,
					     <GIC_SPI 30 IRQ_TYPE_LEVEL_LOW>,
					     <GIC_SPI 31 IRQ_TYPE_LEVEL_LOW>;
			};
		};

		pcfg_pull_none: pcfg_pull_none {
			bias-disable;
		};

		pcfg_pull_down: pcfg_pull_down {
			bias-pull-down;
		};

		pcfg_pull_up: pcfg_pull_up {
			bias-pull-up;
		};

		pcfg_output_low: pcfg_output_low {
			output-low;
		};

		pcfg_output_high: pcfg_output_high {
			output-high;
		};

		pio: pinctrl@10005000 {
			compatible = "mediatek,mt8135-pinctrl";
			reg = <0 0x10005000 0 0x1000>,
			      <0 0x1020C000 0 0x1000>,
			      <0 0x1000B000 0 0x1000>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			interrupts = <GIC_SPI 116 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 117 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 118 IRQ_TYPE_LEVEL_HIGH>;

			i2c0_pins_a: i2c0@0 {
				mediatek,pins = <MT8135_PIN_100_SDA0__FUNC_SDA0 &pcfg_pull_none>,
						<MT8135_PIN_101_SCL0__FUNC_SCL0 &pcfg_pull_none>;
			};

			i2c1_pins_a: i2c1@0 {
				mediatek,pins = <MT8135_PIN_195_SDA1__FUNC_SDA1 &pcfg_pull_none>,
						<MT8135_PIN_196_SCL1__FUNC_SCL1 &pcfg_pull_none>;
			};

			i2c2_pins_a: i2c2@0 {
				mediatek,pins = <MT8135_PIN_193_SDA2__FUNC_SDA2 &pcfg_pull_none>,
						<MT8135_PIN_194_SCL2__FUNC_SCL2 &pcfg_pull_none>;
			};

			i2c3_pins_a: i2c3@0 {
				mediatek,pins = <MT8135_PIN_35_SCL3__FUNC_SCL3 &pcfg_pull_none>,
						<MT8135_PIN_36_SDA3__FUNC_SDA3 &pcfg_pull_none>;
			};

			mmc0_pins_default: mmc0default {
				mediatek,pins = <MT8135_PIN_0_MSDC0_DAT7__FUNC_MSDC0_DAT7 &pcfg_pull_up>,
						<MT8135_PIN_1_MSDC0_DAT6__FUNC_MSDC0_DAT6 &pcfg_pull_up>,
						<MT8135_PIN_2_MSDC0_DAT5__FUNC_MSDC0_DAT5 &pcfg_pull_up>,
						<MT8135_PIN_3_MSDC0_DAT4__FUNC_MSDC0_DAT4 &pcfg_pull_up>,
						<MT8135_PIN_4_MSDC0_CMD__FUNC_MSDC0_CMD &pcfg_pull_up>,
						<MT8135_PIN_5_MSDC0_CLK__FUNC_MSDC0_CLK &pcfg_pull_down>,
						<MT8135_PIN_6_MSDC0_DAT3__FUNC_MSDC0_DAT3 &pcfg_pull_up>,
						<MT8135_PIN_7_MSDC0_DAT2__FUNC_MSDC0_DAT2 &pcfg_pull_up>,
						<MT8135_PIN_8_MSDC0_DAT1__FUNC_MSDC0_DAT1 &pcfg_pull_up>,
						<MT8135_PIN_9_MSDC0_DAT0__FUNC_MSDC0_DAT0 &pcfg_pull_up>,
						<MT8135_PIN_33_MSDC0_RSTB__FUNC_MSDC0_RSTB &pcfg_pull_up>;
			};

			mmc1_pins_default: mmc1default {
				mediatek,pins = <MT8135_PIN_83_MSDC1_DAT0__FUNC_MSDC1_DAT0 &pcfg_pull_up>,
						<MT8135_PIN_84_MSDC1_DAT1__FUNC_MSDC1_DAT1 &pcfg_pull_up>,
						<MT8135_PIN_85_MSDC1_CMD__FUNC_MSDC1_CMD &pcfg_pull_up>,
						<MT8135_PIN_87_MSDC1_DAT2__FUNC_MSDC1_DAT2 &pcfg_pull_up>,
						<MT8135_PIN_86_MSDC1_CLK__FUNC_MSDC1_CLK &pcfg_pull_down>,
						<MT8135_PIN_88_MSDC1_DAT3__FUNC_MSDC1_DAT3 &pcfg_pull_up>;
			};

		pinctrl_mmc0_uhs: mmc0uhs {
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pinctrl_mmc0_uhs_clk: mmc0uhs_clk {
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_01>;
		};

		pinctrl_mmc1_uhs: mmc1uhs {
			input-enable;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_10>;
		};

		pinctrl_mmc1_uhs_clk: mmc1uhs_clk {
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		mmc0_pins_uhs: mmc0@0 {
		       mediatek,pins = <MT8135_PIN_0_MSDC0_DAT7__FUNC_MSDC0_DAT7 &pinctrl_mmc0_uhs>,
			       <MT8135_PIN_1_MSDC0_DAT6__FUNC_MSDC0_DAT6 &pinctrl_mmc0_uhs>,
			       <MT8135_PIN_2_MSDC0_DAT5__FUNC_MSDC0_DAT5 &pinctrl_mmc0_uhs>,
			       <MT8135_PIN_3_MSDC0_DAT4__FUNC_MSDC0_DAT4 &pinctrl_mmc0_uhs>,
			       <MT8135_PIN_4_MSDC0_CMD__FUNC_MSDC0_CMD &pinctrl_mmc0_uhs>,
			       <MT8135_PIN_5_MSDC0_CLK__FUNC_MSDC0_CLK &pinctrl_mmc0_uhs_clk>,
			       <MT8135_PIN_6_MSDC0_DAT3__FUNC_MSDC0_DAT3 &pinctrl_mmc0_uhs>,
			       <MT8135_PIN_7_MSDC0_DAT2__FUNC_MSDC0_DAT2 &pinctrl_mmc0_uhs>,
			       <MT8135_PIN_8_MSDC0_DAT1__FUNC_MSDC0_DAT1 &pinctrl_mmc0_uhs>,
			       <MT8135_PIN_9_MSDC0_DAT0__FUNC_MSDC0_DAT0 &pinctrl_mmc0_uhs>,
			       <MT8135_PIN_33_MSDC0_RSTB__FUNC_MSDC0_RSTB &pinctrl_mmc0_uhs>;
	       };

		mmc1_pins_uhs: mmc1@0 {
		       mediatek,pins = <MT8135_PIN_83_MSDC1_DAT0__FUNC_MSDC1_DAT0 &pinctrl_mmc1_uhs>,
			       <MT8135_PIN_84_MSDC1_DAT1__FUNC_MSDC1_DAT1 &pinctrl_mmc1_uhs>,
			       <MT8135_PIN_85_MSDC1_CMD__FUNC_MSDC1_CMD &pinctrl_mmc1_uhs>,
			       <MT8135_PIN_87_MSDC1_DAT2__FUNC_MSDC1_DAT2 &pinctrl_mmc1_uhs>,
			       <MT8135_PIN_86_MSDC1_CLK__FUNC_MSDC1_CLK &pinctrl_mmc1_uhs_clk>,
			       <MT8135_PIN_88_MSDC1_DAT3__FUNC_MSDC1_DAT3 &pinctrl_mmc1_uhs>;
	       };

			aud_mtkif: aud_mtkif {
				mediatek,pins = <MT8135_PIN_37_AUD_CLK_MOSI__FUNC_AUD_CLK &pcfg_pull_down>,
						<MT8135_PIN_38_AUD_DAT_MOSI__FUNC_AUD_DAT_MOSI &pcfg_pull_down>,
						<MT8135_PIN_39_AUD_DAT_MISO__FUNC_AUD_DAT_MISO &pcfg_pull_down>;
			};

			aud_i2s2: aud_i2s2 {
				mediatek,pins = <MT8135_PIN_105_I2S_CLK__FUNC_I2SIN_CK &pcfg_pull_down>,
						<MT8135_PIN_106_I2S_WS__FUNC_I2SIN_WS &pcfg_pull_down>,
						<MT8135_PIN_107_I2S_DATA_IN__FUNC_I2SIN_DAT &pcfg_pull_down>,
						<MT8135_PIN_108_I2S_DATA_OUT__FUNC_I2SOUT_DAT &pcfg_pull_down>,
						<MT8135_PIN_118_EINT2__FUNC_GPIO118 &pcfg_output_low>;
			};

			max98090_irq: max98090_irq {
				mediatek,pins = <MT8135_PIN_120_EINT4__FUNC_EINT4 &pcfg_pull_up>;
			};

			spi1_pins_a: spi1@0 {
				mediatek,pins = <MT8135_PIN_91_MSDC4_DAT5__FUNC_SPI1_CSN &pcfg_pull_none>,
						<MT8135_PIN_92_MSDC4_DAT6__FUNC_SPI1_MO &pcfg_pull_none>,
						<MT8135_PIN_93_MSDC4_DAT7__FUNC_SPI1_MI &pcfg_pull_none>,
						<MT8135_PIN_94_MSDC4_DAT4__FUNC_SPI1_CLK &pcfg_pull_none>;
			};

			usb0_pins_a: usb0@0 {
				mediatek,pins = <MT8135_PIN_90_MSDC4_DAT1__FUNC_GPIO90 &pcfg_pull_down>,
						<MT8135_PIN_89_MSDC4_DAT0__FUNC_GPIO89 &pcfg_pull_down>;
			};

		};

		i2c0: i2c@1100d000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6589-i2c";
			reg = <0 0x1100d000 0 0x70>,
				<0 0x11000300 0 0x80>;
			interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&i2c0_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		i2c1: i2c@1100e000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6589-i2c";
			reg = <0 0x1100e000 0 0x70>,
				<0 0x11000380 0 0x80>;
			interrupts = <GIC_SPI 45 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&i2c1_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c2: i2c@1100f000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6589-i2c";
			reg = <0 0x1100f000 0 0x70>,
				<0 0x11000400 0 0x80>;
			interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&i2c2_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		i2c3: i2c@11010000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6589-i2c";
			reg = <0 0x11010000 0 0x70>,
				<0 0x11000480 0 0x80>;
			interrupts = <GIC_SPI 47 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&i2c3_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		i2c4: i2c@11011000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6589-i2c";
			reg = <0 0x11011000 0 0x70>,
				<0 0x11000500 0 0x80>;
			interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <1>;
			mediatek,have-pmic;
			clocks = <&i2c4_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		i2c5: i2c@11012000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6589-i2c";
			reg = <0 0x11012000 0 0x70>,
				<0 0x11000580 0 0x80>;
			interrupts = <GIC_SPI 49 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <1>;
			mediatek,have-pmic;
			clocks = <&i2c5_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		i2c6: i2c@11013000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6589-i2c";
			reg = <0 0x11013000 0 0x70>,
				<0 0x11000600 0 0x80>;
			interrupts = <GIC_SPI 50 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <1>;
			mediatek,have-pmic;
			clocks = <&i2c6_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		spi@11016000 {
			compatible = "mediatek,mt6577-spi";
			reg = <0 0x11016000 0 0x1000>;
			interrupts = <GIC_SPI 78 IRQ_TYPE_LEVEL_LOW>;
			cell-index = <0>;
			clocks = <&spi1_ck>;
		};

		mmc0: mmc@11230000 {
			compatible = "mediatek,mt8135-mmc","mediatek,mmc";
			reg = <0 0x11230000 0 0x108>;
			interrupts-extended = <&gic GIC_SPI 39 IRQ_TYPE_LEVEL_LOW>;
			bus-width = <8>;
			max-frequency = <50000000>;
			cap-mmc-highspeed;
			core-power-supply = <&mt6397_vemc_3v3_reg>;
			io-power-supply = <&mt6397_vio18_reg>;
			clocks = <&msdc20_1_ck>, <&msdcpll>;
			clock-names = "src_clk", "pll_clk";
			non-removable;
			func = "EMMC";
		};

		mmc1: mmc@11240000 {
			compatible = "mediatek,mt8135-mmc","mediatek,mmc";
			reg = <0 0x11240000 0 0x108>;
			interrupts-extended = <&gic GIC_SPI 40 IRQ_TYPE_LEVEL_LOW>;
			bus-width = <4>;
			max-frequency = <50000000>;
			cap-sd-highspeed;
			sd-uhs-sdr25;
			core-power-supply = <&mt6397_vmch_reg>;
			io-power-supply = <&mt6397_vmc_reg>;
			clocks = <&msdc20_2_ck>, <&msdcpll>;
			clock-names = "src_clk", "pll_clk";
			func = "SDCARD";
		};

		usb0: usb@11200000 {
			compatible = "mediatek,mt6577-usb0";
			reg = <0 0x11200000 0 0x10000>,
				  <0 0x11220000 0 0x10000>;
			interrupts = <GIC_SPI 32 IRQ_TYPE_LEVEL_LOW>;
			interrupt-names = "mc";
			mode = <1>;
			multipoint = <1>;
			num_eps = <16>;
			ram_bits = <11>;
			clocks =<&usb0_ck>, <&univpll>;
			clock-names = "usb0_clk_main", "univpll_clk";
			usb-power-supply = <&mt6397_usb_reg>;
		};

		usb1@11210000 {
			compatible = "mediatek,mt6577-usb1";
			reg = <0 0x11210000 0 0x10000>;
			clocks =<&usb1_ck>, <&univpll>;
			clock-names = "usb1_clk_main", "univpll1_clk";
			usb-power-supply = <&mt6397_usb_reg>;
		};


		mt8135-afe-pcm {
			compatible = "mediatek,mt8135-afe-pcm";
			reg = <0 0x12008000 0 0x4000>,
			      <0 0x12070000 0 0x10000>;
			interrupts = <GIC_SPI 104 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&audio_ck>,
				 <&afe_ck>,
				 <&hdmi_ck>,
				 <&apll_sel>,
				 <&apll_d16>,
				 <&apll_d24>,
				 <&apll_d4>,
				 <&apll_d8>,
				 <&audpll>,
				 <&apll_tuner_ck>;
			clock-names = "infra_audio_clk",
				      "afe_clk",
				      "hdmi_clk",
				      "top_apll_clk",
				      "apll_d16",
				      "apll_d24",
				      "apll_d4",
				      "apll_d8",
				      "audpll",
				      "apll_tuner_clk";
		};

		iommu: iommu@10205000 {
			compatible = "mediatek,mt8135-iommu";
			reg = <0 0x10205000 0 0x1000>,/*m4u base*/
			        <0 0x1000e000 0 0x1000>, /*smi common AO*/
				<0 0x10202000 0 0x1000>; /*smi common ext*/
			interrupts = <GIC_SPI 105 IRQ_TYPE_LEVEL_LOW>, /*m4u0 irq*/
				<GIC_SPI 106 IRQ_TYPE_LEVEL_LOW>; /*m4u1 irq*/
			clocks = <&m4u_ck>,<&smi_ck>;
			clock-names = "m4uclk","smiclk";
			iova-size = <0x40000000>;
			larb-port-mapping = <1 1 0 1 1>;
		};

	};
};
