/ {
	soc {
		clocks {
			compatible = "mediatek,clk";
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			dummy: dummy {
				clk_null: clk_null {
					compatible = "mediatek,clk-fixed_rate";
					#clock-cells = <0>;
					clock-frequency = <0>;
				};

				clk26m: clk26m {
					compatible = "mediatek,clk-fixed_rate";
					#clock-cells = <0>;
					clock-frequency = <26000000>;
				};

				rtc32k: rtc32k {
					compatible = "mediatek,clk-fixed_rate";
					#clock-cells = <0>;
					clock-frequency = <32000>;
				};

				dsi0_lntc_dsi: dsi0_lntc_dsi {
					compatible = "mediatek,clk-fixed_rate";
					#clock-cells = <0>;
					clock-frequency = <0>;
				};

				hdmitx_dig_cts: hdmitx_dig_cts {
					compatible = "mediatek,clk-fixed_rate";
					#clock-cells = <0>;
					clock-frequency = <0>;
				};

				clkph_mck: clkph_mck {
					compatible = "mediatek,clk-fixed_rate";
					#clock-cells = <0>;
					clock-frequency = <0>;
				};

				cpum_tck_in: cpum_tck_in {
					compatible = "mediatek,clk-fixed_rate";
					#clock-cells = <0>;
					clock-frequency = <0>;
				};
			};

			armpll1: armpll1@10209200 {
				compatible = "mediatek,clk-pll-arm";
				#clock-cells = <0>;
				reg = <0 0x10209200 0 0x4>, <0 0x10209218 0 0x4>;
				clocks = <&clk26m>;
			};

			armpll2: armpll2@102092cc {
				compatible = "mediatek,clk-pll-arm";
				#clock-cells = <0>;
				reg = <0 0x102092cc 0 0x4>, <0 0x102092e4 0 0x4>;
				clocks = <&clk26m>;
			};

			mainpll: mainpll@1020921c {
				compatible = "mediatek,clk-pll-main";
				#clock-cells = <0>;
				reg = <0 0x1020921c 0 0x4>, <0 0x10209234 0 0x4>;
				clocks = <&clk26m>;
			};

			univpll: univpll@10209238 {
				compatible = "mediatek,clk-pll-univ";
				#clock-cells = <0>;
				reg = <0 0x10209238 0 0x4>, <0 0x10209250 0 0x4>;
				clocks = <&clk26m>;
			};

			mmpll: mmpll@10209254 {
				compatible = "mediatek,clk-pll-mm";
				#clock-cells = <0>;
				reg = <0 0x10209254 0 0x4>, <0 0x1020926c 0 0x4>;
				clocks = <&clk26m>;
			};

			msdcpll: msdcpll@10209278 {
				compatible = "mediatek,clk-pll-msdc";
				#clock-cells = <0>;
				reg = <0 0x10209278 0 0x4>, <0 0x10209290 0 0x4>;
				clocks = <&clk26m>;
			};

			tvdpll: tvdpll@10209294 {
				compatible = "mediatek,clk-pll-tvd";
				#clock-cells = <0>;
				reg = <0 0x10209294 0 0x4>, <0 0x102092ac 0 0x4>;
				clocks = <&clk26m>;
			};

			lvdspll: lvdspll@102092b0 {
				compatible = "mediatek,clk-pll-lvds";
				#clock-cells = <0>;
				reg = <0 0x102092b0 0 0x4>, <0 0x102092c8 0 0x4>;
				clocks = <&clk26m>;
			};

			audpll: audpll@102092e8 {
				compatible = "mediatek,clk-pll-aud";
				#clock-cells = <0>;
				reg = <0 0x102092e8 0 0x4>, <0 0x10209300 0 0x4>;
				clocks = <&clk26m>;
			};

			vdecpll: vdecpll@10209304 {
				compatible = "mediatek,clk-pll-vdec";
				#clock-cells = <0>;
				reg = <0 0x10209304 0 0x4>, <0 0x1020931c 0 0x4>;
				clocks = <&clk26m>;
			};

			topdiv: topdiv {
				mainpll_806m: mainpll_806m {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				mainpll_537p3m: mainpll_537p3m {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll>;
					clock-mult = <1>;
					clock-div = <3>;
				};

				mainpll_322p4m: mainpll_322p4m {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll>;
					clock-mult = <1>;
					clock-div = <5>;
				};

				mainpll_230p3m: mainpll_230p3m {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll>;
					clock-mult = <1>;
					clock-div = <7>;
				};

				univpll_624m: univpll_624m {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				univpll_416m: univpll_416m {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll>;
					clock-mult = <1>;
					clock-div = <3>;
				};

				univpll_249p6m: univpll_249p6m {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll>;
					clock-mult = <1>;
					clock-div = <5>;
				};

				univpll_178p3m: univpll_178p3m {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll>;
					clock-mult = <1>;
					clock-div = <7>;
				};

				univpll_48m: univpll_48m {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll>;
					clock-mult = <1>;
					clock-div = <26>;
				};

				mmpll_d2: mmpll_d2 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mmpll>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				mmpll_d3: mmpll_d3 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mmpll>;
					clock-mult = <1>;
					clock-div = <3>;
				};

				mmpll_d5: mmpll_d5 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mmpll>;
					clock-mult = <1>;
					clock-div = <5>;
				};

				mmpll_d7: mmpll_d7 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mmpll>;
					clock-mult = <1>;
					clock-div = <7>;
				};

				mmpll_d4: mmpll_d4 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mmpll_d2>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				mmpll_d6: mmpll_d6 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mmpll_d3>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				syspll_d2: syspll_d2 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_806m>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				syspll_d4: syspll_d4 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_806m>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				syspll_d6: syspll_d6 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_806m>;
					clock-mult = <1>;
					clock-div = <3>;
				};

				syspll_d8: syspll_d8 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_806m>;
					clock-mult = <1>;
					clock-div = <4>;
				};

				syspll_d10: syspll_d10 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_806m>;
					clock-mult = <1>;
					clock-div = <5>;
				};

				syspll_d12: syspll_d12 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_806m>;
					clock-mult = <1>;
					clock-div = <6>;
				};

				syspll_d16: syspll_d16 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_806m>;
					clock-mult = <1>;
					clock-div = <8>;
				};

				syspll_d24: syspll_d24 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_806m>;
					clock-mult = <1>;
					clock-div = <12>;
				};

				syspll_d3: syspll_d3 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_537p3m>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				syspll_d2p5: syspll_d2p5 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_322p4m>;
					clock-mult = <2>;
					clock-div = <1>;
				};

				syspll_d5: syspll_d5 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_322p4m>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				syspll_d3p5: syspll_d3p5 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&mainpll_230p3m>;
					clock-mult = <2>;
					clock-div = <1>;
				};

				univpll1_d2: univpll1_d2 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_624m>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				univpll1_d4: univpll1_d4 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_624m>;
					clock-mult = <1>;
					clock-div = <4>;
				};

				univpll1_d6: univpll1_d6 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_624m>;
					clock-mult = <1>;
					clock-div = <6>;
				};

				univpll1_d8: univpll1_d8 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_624m>;
					clock-mult = <1>;
					clock-div = <8>;
				};

				univpll1_d10: univpll1_d10 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_624m>;
					clock-mult = <1>;
					clock-div = <10>;
				};

				univpll2_d2: univpll2_d2 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_416m>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				univpll2_d4: univpll2_d4 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_416m>;
					clock-mult = <1>;
					clock-div = <4>;
				};

				univpll2_d6: univpll2_d6 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_416m>;
					clock-mult = <1>;
					clock-div = <6>;
				};

				univpll2_d8: univpll2_d8 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_416m>;
					clock-mult = <1>;
					clock-div = <8>;
				};

				univpll_d3: univpll_d3 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_416m>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				univpll_d5: univpll_d5 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_249p6m>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				univpll_d7: univpll_d7 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_178p3m>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				univpll_d10: univpll_d10 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_249p6m>;
					clock-mult = <1>;
					clock-div = <5>;
				};

				univpll_d26: univpll_d26 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&univpll_48m>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				apll: apll {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&audpll>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				apll_d4: apll_d4 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&audpll>;
					clock-mult = <1>;
					clock-div = <4>;
				};

				apll_d8: apll_d8 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&audpll>;
					clock-mult = <1>;
					clock-div = <8>;
				};

				apll_d16: apll_d16 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&audpll>;
					clock-mult = <1>;
					clock-div = <16>;
				};

				apll_d24: apll_d24 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&audpll>;
					clock-mult = <1>;
					clock-div = <24>;
				};

				lvdspll_d2: lvdspll_d2 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&lvdspll>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				lvdspll_d4: lvdspll_d4 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&lvdspll>;
					clock-mult = <1>;
					clock-div = <4>;
				};

				lvdspll_d8: lvdspll_d8 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&lvdspll>;
					clock-mult = <1>;
					clock-div = <8>;
				};

				lvdstx_dig_cts: lvdstx_dig_cts {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&lvdspll>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				vpll_dpix_ck: vpll_dpix_ck {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&lvdspll>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				tvhdmi_h_ck: tvhdmi_h_ck {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&tvdpll>;
					clock-mult = <1>;
					clock-div = <1>;
				};

				hdmitx_dig_d2: hdmitx_dig_d2 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&hdmitx_dig_cts>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				hdmitx_dig_d3: hdmitx_dig_d3 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&hdmitx_dig_cts>;
					clock-mult = <1>;
					clock-div = <3>;
				};

				tvhdmi_d2: tvhdmi_d2 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&tvhdmi_h_ck>;
					clock-mult = <1>;
					clock-div = <2>;
				};

				tvhdmi_d4: tvhdmi_d4 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&tvhdmi_h_ck>;
					clock-mult = <1>;
					clock-div = <4>;
				};

				mempll_mck_d4: mempll_mck_d4 {
					compatible = "mediatek,clk-fixed_factor";
					#clock-cells = <0>;
					clocks = <&clkph_mck>;
					clock-mult = <1>;
					clock-div = <4>;
				};
			};

			top0: clk@10000140 {
				compatible = "mediatek,clk-mux";
				reg = <0 0x10000140 0 0x4>;

				top0_clocks: clocks {
					axi_sel: axi_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d3>, <&syspll_d4>, <&syspll_d6>, <&univpll_d5>, <&univpll2_d2>, <&syspll_d3p5>;
						bit-shift = <0>;
						bit-width = <3>;
					};

					smi_sel: smi_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&clkph_mck>, <&syspll_d2p5>, <&syspll_d3>, <&syspll_d8>, <&univpll_d5>, <&univpll1_d2>, <&univpll1_d6>, <&mmpll_d3>, <&mmpll_d4>, <&mmpll_d5>, <&mmpll_d6>, <&mmpll_d7>, <&vdecpll>, <&lvdspll>;
						bit-shift = <8>;
						bit-width = <4>;
						gate-bit = <15>;
					};

					mfg_sel: mfg_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&univpll1_d4>, <&syspll_d2>, <&syspll_d2p5>, <&syspll_d3>, <&univpll_d5>, <&univpll1_d2>, <&mmpll_d2>, <&mmpll_d3>, <&mmpll_d4>, <&mmpll_d5>, <&mmpll_d6>, <&mmpll_d7>;
						bit-shift = <16>;
						bit-width = <4>;
						gate-bit = <23>;
					};

					irda_sel: irda_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&univpll2_d8>, <&univpll1_d6>;
						bit-shift = <24>;
						bit-width = <2>;
						gate-bit = <31>;
					};
				};
			};

			top1: clk@10000144 {
				compatible = "mediatek,clk-mux";
				reg = <0 0x10000144 0 0x4>;

				top1_clocks: clocks {
					cam_sel: cam_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d3>, <&syspll_d3p5>, <&syspll_d4>, <&univpll_d5>, <&univpll2_d2>, <&univpll_d7>, <&univpll1_d4>;
						bit-shift = <0>;
						bit-width = <3>;
						gate-bit = <7>;
					};

					aud_intbus_sel: aud_intbus_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d6>, <&univpll_d10>;
						bit-shift = <8>;
						bit-width = <2>;
						gate-bit = <15>;
					};

					jpg_sel: jpg_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d5>, <&syspll_d4>, <&syspll_d3>, <&univpll_d7>, <&univpll2_d2>, <&univpll_d5>;
						bit-shift = <16>;
						bit-width = <3>;
						gate-bit = <23>;
					};

					disp_sel: disp_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d3p5>, <&syspll_d3>, <&univpll2_d2>, <&univpll_d5>, <&univpll1_d2>, <&lvdspll>, <&vdecpll>;
						bit-shift = <24>;
						bit-width = <3>;
						gate-bit = <31>;
					};
				};
			};

			top2: clk@10000148 {
				compatible = "mediatek,clk-mux";
				reg = <0 0x10000148 0 0x4>;

				top2_clocks: clocks {
					msdc30_1_sel: msdc30_1_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d6>, <&syspll_d5>, <&univpll1_d4>, <&univpll2_d4>, <&msdcpll>;
						bit-shift = <0>;
						bit-width = <3>;
						gate-bit = <7>;
					};

					msdc30_2_sel: msdc30_2_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d6>, <&syspll_d5>, <&univpll1_d4>, <&univpll2_d4>, <&msdcpll>;
						bit-shift = <8>;
						bit-width = <3>;
						gate-bit = <15>;
					};

					msdc30_3_sel: msdc30_3_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d6>, <&syspll_d5>, <&univpll1_d4>, <&univpll2_d4>, <&msdcpll>;
						bit-shift = <16>;
						bit-width = <3>;
						gate-bit = <23>;
					};

					msdc30_4_sel: msdc30_4_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d6>, <&syspll_d5>, <&univpll1_d4>, <&univpll2_d4>, <&msdcpll>;
						bit-shift = <24>;
						bit-width = <3>;
						gate-bit = <31>;
					};
				};
			};

			top3: clk@1000014c {
				compatible = "mediatek,clk-mux";
				reg = <0 0x1000014c 0 0x4>;

				top3_clocks: clocks {
					usb20_sel: usb20_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&univpll2_d6>, <&univpll1_d10>;
						bit-shift = <0>;
						bit-width = <2>;
						gate-bit = <7>;
					};
				};
			};

			top4: clk@10000150 {
				compatible = "mediatek,clk-mux";
				reg = <0 0x10000150 0 0x4>;

				top4_clocks: clocks {
					venc_sel: venc_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d3>, <&syspll_d8>, <&univpll_d5>, <&univpll1_d6>, <&mmpll_d4>, <&mmpll_d5>, <&mmpll_d6>;
						bit-shift = <8>;
						bit-width = <3>;
						gate-bit = <15>;
					};

					spi_sel: spi_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d6>, <&syspll_d8>, <&syspll_d10>, <&univpll1_d6>, <&univpll1_d8>;
						bit-shift = <16>;
						bit-width = <3>;
						gate-bit = <23>;
					};

					uart_sel: uart_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&univpll2_d8>;
						bit-shift = <24>;
						bit-width = <2>;
						gate-bit = <31>;
					};
				};
			};

			top6: clk@10000158 {
				compatible = "mediatek,clk-mux";
				reg = <0 0x10000158 0 0x4>;

				top6_clocks: clocks {
					mem_sel: mem_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&clkph_mck>;
						bit-shift = <0>;
						bit-width = <2>;
						gate-bit = <7>;
					};

					camtg_sel: camtg_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&univpll_d26>, <&univpll1_d6>, <&syspll_d16>, <&syspll_d8>;
						bit-shift = <8>;
						bit-width = <3>;
						gate-bit = <15>;
					};

					audio_sel: audio_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d24>;
						bit-shift = <24>;
						bit-width = <2>;
						gate-bit = <31>;
					};
				};
			};

			top7: clk@1000015c {
				compatible = "mediatek,clk-mux";
				reg = <0 0x1000015c 0 0x4>;

				top7_clocks: clocks {
					fix_sel: fix_sel {
						#clock-cells = <0>;
						clocks = <&rtc32k>, <&clk26m>, <&univpll_d5>, <&univpll_d7>, <&univpll1_d2>, <&univpll1_d4>, <&univpll1_d6>, <&univpll1_d8>;
						bit-shift = <0>;
						bit-width = <3>;
						gate-bit = <7>;
					};

					vdec_sel: vdec_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&vdecpll>, <&clkph_mck>, <&syspll_d2p5>, <&syspll_d3>, <&syspll_d3p5>, <&syspll_d4>, <&syspll_d5>, <&syspll_d6>, <&syspll_d8>, <&univpll1_d2>, <&univpll2_d2>, <&univpll_d7>, <&univpll_d10>, <&univpll2_d4>, <&lvdspll>;
						bit-shift = <8>;
						bit-width = <4>;
						gate-bit = <15>;
					};

					ddrphycfg_sel: ddrphycfg_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&axi_sel>, <&syspll_d12>;
						bit-shift = <16>;
						bit-width = <2>;
						gate-bit = <23>;
					};

					dpilvds_sel: dpilvds_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&lvdspll>, <&lvdspll_d2>, <&lvdspll_d4>, <&lvdspll_d8>;
						bit-shift = <24>;
						bit-width = <3>;
						gate-bit = <31>;
					};
				};
			};

			top8: clk@10000164 {
				compatible = "mediatek,clk-mux";
				reg = <0 0x10000164 0 0x4>;

				top8_clocks: clocks {
					pmicspi_sel: pmicspi_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&univpll2_d6>, <&syspll_d8>, <&syspll_d10>, <&univpll1_d10>, <&mempll_mck_d4>, <&univpll_d26>, <&syspll_d24>;
						bit-shift = <0>;
						bit-width = <3>;
						gate-bit = <7>;
					};

					msdc30_0_sel: msdc30_0_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d6>, <&syspll_d5>, <&univpll1_d4>, <&univpll2_d4>, <&msdcpll>;
						bit-shift = <8>;
						bit-width = <3>;
						gate-bit = <15>;
					};

					smi_mfg_as_sel: smi_mfg_as_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&smi_sel>, <&mfg_sel>, <&mem_sel>;
						bit-shift = <16>;
						bit-width = <2>;
						gate-bit = <23>;
					};

					gcpu_sel: gcpu_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&syspll_d4>, <&univpll_d7>, <&syspll_d5>, <&syspll_d6>;
						bit-shift = <24>;
						bit-width = <3>;
						gate-bit = <31>;
					};
				};
			};

			top9: clk@10000168 {
				compatible = "mediatek,clk-mux";
				reg = <0 0x10000168 0 0x4>;

				top9_clocks: clocks {
					dpi1_sel: dpi1_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&tvhdmi_h_ck>, <&tvhdmi_d2>, <&tvhdmi_d4>;
						bit-shift = <0>;
						bit-width = <2>;
						gate-bit = <7>;
					};

					cci_sel: cci_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&mainpll_537p3m>, <&univpll_d3>, <&syspll_d2p5>, <&syspll_d3>, <&syspll_d5>;
						bit-shift = <8>;
						bit-width = <3>;
						gate-bit = <15>;
					};

					apll_sel: apll_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&apll>, <&apll_d4>, <&apll_d8>, <&apll_d16>, <&apll_d24>;
						bit-shift = <16>;
						bit-width = <3>;
						gate-bit = <23>;
					};

					hdmipll_sel: hdmipll_sel {
						#clock-cells = <0>;
						clocks = <&clk26m>, <&hdmitx_dig_cts>, <&hdmitx_dig_d2>, <&hdmitx_dig_d3>;
						bit-shift = <24>;
						bit-width = <2>;
						gate-bit = <31>;
					};
				};
			};

			cg_infra: clk@10001040 {
				compatible = "mediatek,clk-gate";
				reg = <0 0x10001048 0 0x4>, <0 0x10001044 0 0x4>, <0 0x10001040 0 0x4>;

				cg_infra_clocks: clocks {
					pmic_wrap_ck: pmic_wrap_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <23>;
					};

					pmicspi_ck: pmicspi_ck {
						#clock-cells = <0>;
						clocks = <&pmicspi_sel>;
						bit-shift = <22>;
					};

					ccif1_ap_ctrl: ccif1_ap_ctrl {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <21>;
					};

					ccif0_ap_ctrl: ccif0_ap_ctrl {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <20>;
					};

					kp_ck: kp_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <16>;
					};

					cpum_ck: cpum_ck {
						#clock-cells = <0>;
						clocks = <&cpum_tck_in>;
						bit-shift = <15>;
					};

					m4u_ck: m4u_ck {
						#clock-cells = <0>;
						clocks = <&mem_sel>;
						bit-shift = <8>;
					};

					mfgaxi_ck: mfgaxi_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <7>;
					};

					devapc_ck: devapc_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <6>;
					};

					audio_ck: audio_ck {
						#clock-cells = <0>;
						clocks = <&aud_intbus_sel>;
						bit-shift = <5>;
					};

					mfg_bus_ck: mfg_bus_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <2>;
					};

					smi_ck: smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <1>;
					};

					dbgclk_ck: dbgclk_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <0>;
					};
				};
			};

			cg_peri0: clk@10003008 {
				compatible = "mediatek,clk-gate";
				reg = <0 0x10003018 0 0x4>, <0 0x10003010 0 0x4>, <0 0x10003008 0 0x4>;

				cg_peri0_clocks: clocks {
					i2c5_ck: i2c5_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <31>;
					};

					i2c4_ck: i2c4_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <30>;
					};

					i2c3_ck: i2c3_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <29>;
					};

					i2c2_ck: i2c2_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <28>;
					};

					i2c1_ck: i2c1_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <27>;
					};

					i2c0_ck: i2c0_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <26>;
					};

					uart3_ck: uart3_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <25>;
					};

					uart2_ck: uart2_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <24>;
					};

					uart1_ck: uart1_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <23>;
					};

					uart0_ck: uart0_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <22>;
					};

					irda_ck: irda_ck {
						#clock-cells = <0>;
						clocks = <&irda_sel>;
						bit-shift = <21>;
					};

					nli_ck: nli_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <20>;
					};

					md_hif_ck: md_hif_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <19>;
					};

					ap_hif_ck: ap_hif_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <18>;
					};

					msdc30_3_ck: msdc30_3_ck {
						#clock-cells = <0>;
						clocks = <&msdc30_4_sel>;
						bit-shift = <17>;
					};

					msdc30_2_ck: msdc30_2_ck {
						#clock-cells = <0>;
						clocks = <&msdc30_3_sel>;
						bit-shift = <16>;
					};

					msdc30_1_ck: msdc30_1_ck {
						#clock-cells = <0>;
						clocks = <&msdc30_2_sel>;
						bit-shift = <15>;
					};

					msdc20_2_ck: msdc20_2_ck {
						#clock-cells = <0>;
						clocks = <&msdc30_1_sel>;
						bit-shift = <14>;
					};

					msdc20_1_ck: msdc20_1_ck {
						#clock-cells = <0>;
						clocks = <&msdc30_0_sel>;
						bit-shift = <13>;
					};

					ap_dma_ck: ap_dma_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <12>;
					};

					usb1_ck: usb1_ck {
						#clock-cells = <0>;
						clocks = <&usb20_sel>;
						bit-shift = <11>;
					};

					usb0_ck: usb0_ck {
						#clock-cells = <0>;
						clocks = <&usb20_sel>;
						bit-shift = <10>;
					};

					pwm_ck: pwm_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <9>;
					};

					pwm7_ck: pwm7_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <8>;
					};

					pwm6_ck: pwm6_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <7>;
					};

					pwm5_ck: pwm5_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <6>;
					};

					pwm4_ck: pwm4_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <5>;
					};

					pwm3_ck: pwm3_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <4>;
					};

					pwm2_ck: pwm2_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <3>;
					};

					pwm1_ck: pwm1_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <2>;
					};

					therm_ck: therm_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <1>;
					};

					nfi_ck: nfi_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <0>;
					};
				};
			};

			cg_peri1: clk@1000300c {
				compatible = "mediatek,clk-gate";
				reg = <0 0x1000301c 0 0x4>, <0 0x10003014 0 0x4>, <0 0x1000300c 0 0x4>;

				cg_peri1_clocks: clocks {
					usbslv_ck: usbslv_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <8>;
					};

					usb1_mcu_ck: usb1_mcu_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <7>;
					};

					usb0_mcu_ck: usb0_mcu_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <6>;
					};

					gcpu_ck: gcpu_ck {
						#clock-cells = <0>;
						clocks = <&gcpu_sel>;
						bit-shift = <5>;
					};

					fhctl_ck: fhctl_ck {
						#clock-cells = <0>;
						clocks = <&clk26m>;
						bit-shift = <4>;
					};

					spi1_ck: spi1_ck {
						#clock-cells = <0>;
						clocks = <&spi_sel>;
						bit-shift = <3>;
					};

					auxadc_ck: auxadc_ck {
						#clock-cells = <0>;
						clocks = <&clk26m>;
						bit-shift = <2>;
					};

					peri_pwrap_ck: peri_pwrap_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <1>;
					};

					i2c6_ck: i2c6_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <0>;
					};
				};
			};

			cg_mfg: clk@10206000 {
				compatible = "mediatek,clk-gate";
				reg = <0 0x10206000 0 0x4>, <0 0x10206008 0 0x4>, <0 0x10206004 0 0x4>;

				cg_mfg_clocks: clocks {
					baxi_ck: baxi_ck {
						#clock-cells = <0>;
						clocks = <&axi_sel>;
						bit-shift = <0>;
					};

					bmem_ck: bmem_ck {
						#clock-cells = <0>;
						clocks = <&smi_mfg_as_sel>;
						bit-shift = <1>;
					};

					bg3d_ck: bg3d_ck {
						#clock-cells = <0>;
						clocks = <&mfg_sel>;
						bit-shift = <2>;
					};

					b26m_ck: b26m_ck {
						#clock-cells = <0>;
						clocks = <&clk26m>;
						bit-shift = <3>;
					};
				};
			};

			cg_img: clk@15000000 {
				compatible = "mediatek,clk-gate";
				reg = <0 0x15000000 0 0x4>, <0 0x15000008 0 0x4>, <0 0x15000004 0 0x4>;

				cg_img_clocks: clocks {
					fpc_ck: fpc_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <13>;
					};

					jpgenc_jpg_ck: jpgenc_jpg_ck {
						#clock-cells = <0>;
						clocks = <&jpg_sel>;
						bit-shift = <12>;
					};

					jpgenc_smi_ck: jpgenc_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <11>;
					};

					jpgdec_jpg_ck: jpgdec_jpg_ck {
						#clock-cells = <0>;
						clocks = <&jpg_sel>;
						bit-shift = <10>;
					};

					jpgdec_smi_ck: jpgdec_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <9>;
					};

					sen_cam_ck: sen_cam_ck {
						#clock-cells = <0>;
						clocks = <&cam_sel>;
						bit-shift = <8>;
					};

					sen_tg_ck: sen_tg_ck {
						#clock-cells = <0>;
						clocks = <&camtg_sel>;
						bit-shift = <7>;
					};

					cam_cam_ck: cam_cam_ck {
						#clock-cells = <0>;
						clocks = <&cam_sel>;
						bit-shift = <6>;
					};

					cam_smi_ck: cam_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <5>;
					};

					comm_smi_ck: comm_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <4>;
					};

					larb4_smi_ck: larb4_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <2>;
					};

					larb3_smi_ck: larb3_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <0>;
					};
				};
			};

			cg_venc: clk@17000000 {
				compatible = "mediatek,clk-gate-inv";
				reg = <0 0x17000000 0 0x4>, <0 0x17000008 0 0x4>, <0 0x17000004 0 0x4>;

				cg_venc_clocks: clocks {
					venc_ck: venc_ck {
						#clock-cells = <0>;
						clocks = <&venc_sel>;
						bit-shift = <0>;
					};
				};
			};

			cg_vdec0: clk@16000000 {
				compatible = "mediatek,clk-gate-inv";
				reg = <0 0x16000000 0 0x4>, <0 0x16000004 0 0x4>, <0 0x16000000 0 0x4>;

				cg_vdec0_clocks: clocks {
					vdec_ck: vdec_ck {
						#clock-cells = <0>;
						clocks = <&vdec_sel>;
						bit-shift = <0>;
					};
				};
			};

			cg_vdec1: clk@16000008 {
				compatible = "mediatek,clk-gate-inv";
				reg = <0 0x16000008 0 0x4>, <0 0x1600000c 0 0x4>, <0 0x16000008 0 0x4>;

				cg_vdec1_clocks: clocks {
					vdec_larb_ck: vdec_larb_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <0>;
					};
				};
			};

			cg_disp0: clk@14000100 {
				compatible = "mediatek,clk-gate";
				reg = <0 0x14000100 0 0x4>, <0 0x14000108 0 0x4>, <0 0x14000104 0 0x4>;

				cg_disp0_clocks: clocks {
					smi_larb2_ck: smi_larb2_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <0>;
					};

					rot_disp_ck: rot_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <1>;
					};

					rot_smi_ck: rot_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <2>;
					};

					scl_disp_ck: scl_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <3>;
					};

					ovl_disp_ck: ovl_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <4>;
					};

					ovl_smi_ck: ovl_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <5>;
					};

					color_disp_ck: color_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <6>;
					};

					tdshp_disp_ck: tdshp_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <7>;
					};

					bls_disp_ck: bls_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <8>;
					};

					wdma0_disp_ck: wdma0_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <9>;
					};

					wdma0_smi_ck: wdma0_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <10>;
					};

					wdma1_disp_ck: wdma1_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <11>;
					};

					wdma1_smi_ck: wdma1_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <12>;
					};

					rdma0_disp_ck: rdma0_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <13>;
					};

					rdma0_smi_ck: rdma0_smi_ck {
						#clock-cells = <0>;
						clocks = <&clk_null>;
						bit-shift = <14>;
					};

					rdma0_output_ck: rdma0_output_ck {
						#clock-cells = <0>;
						clocks = <&clk_null>;
						bit-shift = <15>;
					};

					rdma1_disp_ck: rdma1_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <16>;
					};

					rdma1_smi_ck: rdma1_smi_ck {
						#clock-cells = <0>;
						clocks = <&clk_null>;
						bit-shift = <17>;
					};

					rdma1_output_ck: rdma1_output_ck {
						#clock-cells = <0>;
						clocks = <&clk_null>;
						bit-shift = <18>;
					};

					gamma_disp_ck: gamma_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <19>;
					};

					gamma_pixel_ck: gamma_pixel_ck {
						#clock-cells = <0>;
						clocks = <&clk_null>;
						bit-shift = <20>;
					};

					cmdq_disp_ck: cmdq_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <21>;
					};

					cmdq_smi_ck: cmdq_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <22>;
					};

					g2d_disp_ck: g2d_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <23>;
					};

					g2d_smi_ck: g2d_smi_ck {
						#clock-cells = <0>;
						clocks = <&smi_sel>;
						bit-shift = <24>;
					};
				};
			};

			cg_disp1: clk@14000110 {
				compatible = "mediatek,clk-gate";
				reg = <0 0x14000110 0 0x4>, <0 0x14000118 0 0x4>, <0 0x14000114 0 0x4>;

				cg_disp1_clocks: clocks {
					dsi_disp_ck: dsi_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <3>;
					};

					dsi_dsi_ck: dsi_dsi_ck {
						#clock-cells = <0>;
						clocks = <&dsi0_lntc_dsi>;
						bit-shift = <4>;
					};

					dsi_div2_dsi_ck: dsi_div2_dsi_ck {
						#clock-cells = <0>;
						clocks = <&dsi0_lntc_dsi>;
						bit-shift = <5>;
					};

					dpi1_ck: dpi1_ck {
						#clock-cells = <0>;
						clocks = <&dpi1_sel>;
						bit-shift = <7>;
					};

					lvds_disp_ck: lvds_disp_ck {
						#clock-cells = <0>;
						clocks = <&vpll_dpix_ck>;
						bit-shift = <10>;
					};

					lvds_cts_ck: lvds_cts_ck {
						#clock-cells = <0>;
						clocks = <&lvdstx_dig_cts>;
						bit-shift = <11>;
					};

					hdmi_disp_ck: hdmi_disp_ck {
						#clock-cells = <0>;
						clocks = <&dpi1_sel>;
						bit-shift = <12>;
					};

					hdmi_pll_ck: hdmi_pll_ck {
						#clock-cells = <0>;
						clocks = <&hdmipll_sel>;
						bit-shift = <13>;
					};

					hdmi_audio_ck: hdmi_audio_ck {
						#clock-cells = <0>;
						clocks = <&apll_sel>;
						bit-shift = <14>;
					};

					hdmi_spdif_ck: hdmi_spdif_ck {
						#clock-cells = <0>;
						clocks = <&apll_sel>;
						bit-shift = <15>;
					};

					mutex_26m_ck: mutex_26m_ck {
						#clock-cells = <0>;
						clocks = <&clk26m>;
						bit-shift = <18>;
					};

					ufo_disp_ck: ufo_disp_ck {
						#clock-cells = <0>;
						clocks = <&disp_sel>;
						bit-shift = <19>;
					};
				};
			};

			cg_audio: clk@12070000 {
				compatible = "mediatek,clk-gate-audio";
				reg = <0 0x12070000 0 0x4>;

				cg_audio_clocks: clocks {
					afe_ck: afe_ck {
						#clock-cells = <0>;
						clocks = <&audio_sel>, <&audio_ck>;
						bit-shift = <2>;
					};

					i2s_ck: i2s_ck {
						#clock-cells = <0>;
						clocks = <&clk_null>, <&audio_ck>;
						bit-shift = <6>;
					};

					apll_tuner_ck: apll_tuner_ck {
						#clock-cells = <0>;
						clocks = <&apll_sel>, <&audio_ck>;
						bit-shift = <19>;
					};

					hdmi_ck: hdmi_ck {
						#clock-cells = <0>;
						clocks = <&apll_sel>, <&audio_ck>;
						bit-shift = <20>;
					};

					spdf_ck: spdf_ck {
						#clock-cells = <0>;
						clocks = <&apll_sel>, <&audio_ck>;
						bit-shift = <21>;
					};
				};
			};
		};
	};
};

