/*
 * Copyright (c) 2014 MediaTek Inc.
 * Author: Joe.C <yingjoe.chen@mediatek.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include "skeleton64.dtsi"
#include "mt8135-clocks.dtsi"

/ {
	compatible = "mediatek,mt8135";
	interrupt-parent = <&gic>;
	cpu-map {
		cluster0 {
			core0 {
				cpu = <&cpu0>;
			};
			core1 {
				cpu = <&cpu1>;
			};
		};

		cluster1 {
			core0 {
				cpu = <&cpu2>;
			};
			core1 {
				cpu = <&cpu3>;
			};
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			cci-control-port = <&cci_control2>;
			reg = <0x000>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			cci-control-port = <&cci_control2>;
			reg = <0x001>;
		};

		cpu2: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			cci-control-port = <&cci_control1>;
			reg = <0x100>;
		};

		cpu3: cpu@101 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			cci-control-port = <&cci_control1>;
			reg = <0x101>;
		};
	};

	clocks {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		system_clk: dummy13m {
			compatible = "fixed-clock";
			clock-frequency = <13000000>;
			#clock-cells = <0>;
		};

		rtc_clk: dummy32k {
			compatible = "fixed-clock";
			clock-frequency = <32000>;
			#clock-cells = <0>;
		};
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		timer: timer@10008000 {
			compatible = "mediatek,mt6577-timer";
			reg = <0 0x10008000 0 0x80>;
			interrupts = <GIC_SPI 113 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&system_clk>, <&rtc_clk>;
			clock-names = "system-clk", "rtc-clk";
		};

		gic: interrupt-controller@10211000 {
			compatible = "arm,cortex-a15-gic";
			interrupt-controller;
			#interrupt-cells = <3>;
			reg = <0 0x10211000 0 0x1000>,
			      <0 0x10212000 0 0x1000>,
			      <0 0x10214000 0 0x2000>,
			      <0 0x10216000 0 0x2000>;
		};

		pwrap: pwrap@0x1000F000 {
			compatible = "mediatek,mt8135-pwrap";
			reg = <0 0x1000F000 0 0x1000>,
			      <0 0x10000000 0 0x1000>,
			      <0 0x10001000 0 0x1000>,
			      <0 0x10003000 0 0x1000>,
			      <0 0x11017000 0 0x1000>;
			interrupts = <GIC_SPI 128 IRQ_TYPE_LEVEL_HIGH>;
		};

		intpol: intpol@10200030 {
			compatible = "mediatek,mt6577-intpol";
			reg = <0 0x10200030 0 0x1c>;
		};

		cci@10320000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "arm,cci-400";
			reg = <0 0x10320000 0 0x10000>;
			ranges = <0x0 0x0 0x10320000 0x10000>;

			cci_control1: slave-if@4000 {
				compatible = "arm,cci-400-ctrl-if";
				interface-type = "ace";
				reg = <0x4000 0x1000>;
			};

			cci_control2: slave-if@5000 {
				compatible = "arm,cci-400-ctrl-if";
				interface-type = "ace";
				reg = <0x5000 0x1000>;
			};

			pmu@9000 {
				compatible = "arm,cci-400-pmu";
				reg = <0x9000 0x5000>;
				interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_LOW>,
					     <GIC_SPI 25 IRQ_TYPE_LEVEL_LOW>,
					     <GIC_SPI 29 IRQ_TYPE_LEVEL_LOW>,
					     <GIC_SPI 30 IRQ_TYPE_LEVEL_LOW>,
					     <GIC_SPI 31 IRQ_TYPE_LEVEL_LOW>;
			};
		};

		pio: pinctrl@10005000 {
			compatible = "mediatek,mt8135-pinctrl";
			reg = <0 0x10005000 0 0xf30>,
			      <0 0x1020C000 0 0x930>;
			gpio-controller;

			i2c0_pins_a: i2c0@0 {
				mediatek,pins = "W9", "W11";
				mediatek,function = <1>;
				mediatek,pull = <0>;
			};

			i2c1_pins_a: i2c1@0 {
				mediatek,pins = "F2", "F3";
				mediatek,function = <1>;
				mediatek,pull = <0>;
			};

			i2c2_pins_a: i2c2@0 {
				mediatek,pins = "G2", "F4";
				mediatek,function = <1>;
				mediatek,pull = <0>;
			};

			i2c3_pins_a: i2c3@0 {
				mediatek,pins = "L19", "L20";
				mediatek,function = <1>;
				mediatek,pull = <0>;
			};

		};

		i2c0: i2c@1100d000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6577-i2c";
			reg = <0 0x1100d000 0 0x70>,
				<0 0x11000300 0 0x80>;
			interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&i2c0_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		i2c1: i2c@1100e000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6577-i2c";
			reg = <0 0x1100e000 0 0x70>,
				<0 0x11000380 0 0x80>;
			interrupts = <GIC_SPI 45 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&i2c1_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		i2c2: i2c@1100f000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6577-i2c";
			reg = <0 0x1100f000 0 0x70>,
				<0 0x11000400 0 0x80>;
			interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&i2c2_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		i2c3: i2c@11010000 {
			compatible = "mediatek,mt8135-i2c",
				"mediatek,mt6577-i2c";
			reg = <0 0x11010000 0 0x70>,
				<0 0x11000480 0 0x80>;
			interrupts = <GIC_SPI 47 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&i2c3_ck>, <&ap_dma_ck>;
			clock-names = "main", "dma";
		};

		mtk-msdc {
			#address-cells = <2>;
			#size-cells = <2>;
			compatible = "simple-bus";
			ranges;

			gpio@10005000 {
				compatible = "mediatek,GPIO";
				reg = <0 0x10005000 0 0x1000>;
			};
			gpio1@1020c000 {
				compatible = "mediatek,GPIO1";
				reg = <0 0x1020c000 0 0x1000>;
			};

			mmc0@11230000 {
				compatible = "mediatek,mt8135-mmc","mediatek,mmc";
				reg = <0 0x11230000 0 0x108>;
				interrupts = <GIC_SPI 39 IRQ_TYPE_LEVEL_LOW>;
				core-power-supply = <&mt6397_vemc_3v3_reg>;
				io-power-supply = <&mt6397_vio18_reg>;
				clocks = <&msdc20_1_ck>, <&msdcpll>;
				clock-names = "src_clk", "pll_clk";
			};
			mmc1@11240000 {
				compatible = "mediatek,mt8135-mmc","mediatek,mmc";
				reg = <0 0x11240000 0 0x108>;
				interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_LOW>;
				core-power-supply = <&mt6397_vmch_reg>;
				io-power-supply = <&mt6397_vmc_reg>;
				clocks = <&msdc20_2_ck>, <&msdcpll>;
				clock-names = "src_clk", "pll_clk";
			};
		};

	};
};
#include "mt6397.dtsi"
