/*
 * Copyright (c) 2014 MediaTek Inc.
 * Author: Eddie Huang <eddie.huang@mediatek.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include "skeleton.dtsi"
#include <dt-bindings/reset-controller/mt8173-resets.h>
#include "mt8173-clocks.dtsi"
#include "mt8173-pinfunc.h"

/ {
	model = "MT8173";
	compatible = "mediatek,mt8173";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	cpu-map {
		cluster0 {
			core0 {
				cpu = <&cpu0>;
				};
			core1 {
				cpu = <&cpu1>;
				};
		};

		cluster1 {
			core0 {
				cpu = <&cpu2>;
				};
			core1 {
				cpu = <&cpu3>;
				};
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x000>;
			enable-method = "mt-boot";
			cpu-release-addr = <0x0 0x40000200>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x001>;
			enable-method = "mt-boot";
			cpu-release-addr = <0x0 0x40000200>;
		};

		cpu2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a57";
			reg = <0x100>;
			enable-method = "mt-boot";
			cpu-release-addr = <0x0 0x40000200>;
		};

		cpu3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a57";
			reg = <0x101>;
			enable-method = "mt-boot";
			cpu-release-addr = <0x0 0x40000200>;
		};

	};

	clocks {

		uart_clk: dummy26m {
			compatible = "fixed-clock";
			clock-frequency = <26000000>;
			#clock-cells = <0>;
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>;
		clock-frequency = <13000000>;
             };

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

	        apxgpt@0x10008000 {
        	        compatible = "mediatek,mt8173-timer","mediatek,mt6577-timer";
                	reg = <0 0x10008000 0 0x1000>;
	                interrupts = <GIC_SPI 144 IRQ_TYPE_LEVEL_LOW>;
        	        clock-frequency = <13000000>;
	        };

		intpol: intpol-controller@0x10200620 {
			compatible = "mediatek,mt6577-intpol";
			reg = <0 0x10200620 0 0x1000>;
			interrupt-controller;
		};

		pcfg_pull_down: pcfg_pull_down {
			bias-pull-down;
		};

		pcfg_pull_up: pcfg_pull_up {
			bias-pull-up;
		};

		pio: pinctrl@0x10005000 {
			compatible = "mediatek,mt8173-pinctrl";
			reg = <0 0x10005000 0 0x1000>,
				<0 0x1020C020 0 0x1000>,
			    <0 0x1000B000 0 0x1000>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			interrupts = <GIC_SPI 145 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 146 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 147 IRQ_TYPE_LEVEL_HIGH>;

			mmc0_pins_default: mmc0default {
				mediatek,pins = <MT8173_PIN_64_MSDC0_DAT7__FUNC_MSDC0_DAT7 &pcfg_pull_up>,
						<MT8173_PIN_63_MSDC0_DAT6__FUNC_MSDC0_DAT6 &pcfg_pull_up>,
						<MT8173_PIN_62_MSDC0_DAT5__FUNC_MSDC0_DAT5 &pcfg_pull_up>,
						<MT8173_PIN_61_MSDC0_DAT4__FUNC_MSDC0_DAT4 &pcfg_pull_up>,
						<MT8173_PIN_66_MSDC0_CMD__FUNC_MSDC0_CMD &pcfg_pull_up>,
						<MT8173_PIN_65_MSDC0_CLK__FUNC_MSDC0_CLK &pcfg_pull_down>,
						<MT8173_PIN_60_MSDC0_DAT3__FUNC_MSDC0_DAT3 &pcfg_pull_up>,
						<MT8173_PIN_59_MSDC0_DAT2__FUNC_MSDC0_DAT2 &pcfg_pull_up>,
						<MT8173_PIN_58_MSDC0_DAT1__FUNC_MSDC0_DAT1 &pcfg_pull_up>,
						<MT8173_PIN_57_MSDC0_DAT0__FUNC_MSDC0_DAT0 &pcfg_pull_up>,
						<MT8173_PIN_68_MSDC0_RST___FUNC_MSDC0_RSTB &pcfg_pull_up>;
			};

			mmc1_pins_default: mmc1default {
				mediatek,pins = <MT8173_PIN_73_MSDC1_DAT0__FUNC_MSDC1_DAT0 &pcfg_pull_up>,
						<MT8173_PIN_74_MSDC1_DAT1__FUNC_MSDC1_DAT1 &pcfg_pull_up>,
						<MT8173_PIN_78_MSDC1_CMD__FUNC_MSDC1_CMD &pcfg_pull_up>,
						<MT8173_PIN_75_MSDC1_DAT2__FUNC_MSDC1_DAT2 &pcfg_pull_up>,
						<MT8173_PIN_77_MSDC1_CLK__FUNC_MSDC1_CLK &pcfg_pull_down>,
						<MT8173_PIN_76_MSDC1_DAT3__FUNC_MSDC1_DAT3 &pcfg_pull_up>,
						<MT8173_PIN_132_I2S0_DATA1__FUNC_GPIO132 &pcfg_pull_up>;
			};


			pinctrl_mmc0_uhs: mmc0uhs {
				input-enable;
				drive-strength = <MTK_DRIVE_2mA>;
				bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
			};

			pinctrl_mmc0_uhs_clk: mmc0uhs_clk {
				drive-strength = <MTK_DRIVE_2mA>;
				bias-pull-down = <MTK_PUPD_SET_R1R0_01>;
			};

			pinctrl_mmc1_uhs: mmc1uhs {
				input-enable;
				drive-strength = <MTK_DRIVE_4mA>;
				bias-pull-up = <MTK_PUPD_SET_R1R0_10>;
			};

			pinctrl_mmc1_uhs_clk: mmc1uhs_clk {
				drive-strength = <MTK_DRIVE_4mA>;
				bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
			};

			mmc0_pins_uhs:  mmc0@0{
				mediatek,pins = <MT8173_PIN_64_MSDC0_DAT7__FUNC_MSDC0_DAT7 &pinctrl_mmc0_uhs>,
						<MT8173_PIN_63_MSDC0_DAT6__FUNC_MSDC0_DAT6 &pinctrl_mmc0_uhs>,
						<MT8173_PIN_62_MSDC0_DAT5__FUNC_MSDC0_DAT5 &pinctrl_mmc0_uhs>,
						<MT8173_PIN_61_MSDC0_DAT4__FUNC_MSDC0_DAT4 &pinctrl_mmc0_uhs>,
						<MT8173_PIN_66_MSDC0_CMD__FUNC_MSDC0_CMD &pinctrl_mmc0_uhs>,
						<MT8173_PIN_65_MSDC0_CLK__FUNC_MSDC0_CLK &pinctrl_mmc0_uhs_clk>,
						<MT8173_PIN_60_MSDC0_DAT3__FUNC_MSDC0_DAT3 &pinctrl_mmc0_uhs>,
						<MT8173_PIN_59_MSDC0_DAT2__FUNC_MSDC0_DAT2 &pinctrl_mmc0_uhs>,
						<MT8173_PIN_58_MSDC0_DAT1__FUNC_MSDC0_DAT1 &pinctrl_mmc0_uhs>,
						<MT8173_PIN_57_MSDC0_DAT0__FUNC_MSDC0_DAT0 &pinctrl_mmc0_uhs>,
						<MT8173_PIN_68_MSDC0_RST___FUNC_MSDC0_RSTB &pinctrl_mmc0_uhs>;
			};

			mmc1_pins_uhs: mmc1@0 {
				mediatek,pins = <MT8173_PIN_73_MSDC1_DAT0__FUNC_MSDC1_DAT0 &pinctrl_mmc1_uhs>,
						<MT8173_PIN_74_MSDC1_DAT1__FUNC_MSDC1_DAT1 &pinctrl_mmc1_uhs>,
						<MT8173_PIN_78_MSDC1_CMD__FUNC_MSDC1_CMD &pinctrl_mmc1_uhs>,
						<MT8173_PIN_75_MSDC1_DAT2__FUNC_MSDC1_DAT2 &pinctrl_mmc1_uhs>,
						<MT8173_PIN_77_MSDC1_CLK__FUNC_MSDC1_CLK &pinctrl_mmc1_uhs_clk>,
						<MT8173_PIN_76_MSDC1_DAT3__FUNC_MSDC1_DAT3 &pinctrl_mmc1_uhs>;
			};

		};

		gic: interrupt-controller@0x10220000 {
			compatible = "arm,cortex-a15-gic", "arm,cortex-a9-gic";
			#interrupt-cells = <3>;
			#address-cells = <0>;
			interrupt-controller;
			reg = <0 0x10221000 0 0x1000>,
			      <0 0x10222000 0 0x1000>,
			      <0 0x10200620 0 0x1000>;
			interrupts = <1 9 0xf04>;
		};

		infracfg: syscon@10001000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "mediatek,mt8173-infracfg", "syscon";
			reg = <0 0x10001000 0 0x1000>;

			infrarst: reset-controller@30 {
				#reset-cells = <1>;
				compatible = "mediatek,mt8173-infracfg-reset", "mediatek,reset";
				reg = <0x30 0x8>;
			};
		};

		pericfg: syscon@10003000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "mediatek,mt8173-pericfg", "syscon";
			reg = <0 0x10003000 0 0x1000>;

			perirst: reset-controller@00 {
				#reset-cells = <1>;
				compatible = "mediatek,mt8173-pericfg-reset", "mediatek,reset";
				reg = <0x00 0x8>;
			};
		};

		pwrap: pwrap@1000D000 {
			compatible = "mediatek,mt8173-pwrap";
			reg = <0 0x1000D000 0 0x1000>;
			reg-names = "pwrap-base";
			interrupts = <GIC_SPI 153 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&infrarst MT8173_INFRA_PMIC_WRAP_RST>;
			reset-names = "infra-pwrap-rst";
		};

		uart0: serial@11002000 {
			compatible = "mediatek,mt8173-uart","mediatek,mt6577-uart";
			reg = <0 0x11002000 0 0x400>;
			interrupts = <GIC_SPI 83 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&uart_clk>;
		};

		uart1: serial@11003000 {
			compatible = "mediatek,mt8173-uart","mediatek,mt6577-uart";
			reg = <0 0x11003000 0 0x400>;
			interrupts = <GIC_SPI 84 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&uart_clk>;
		};

		uart2: serial@11004000 {
			compatible = "mediatek,mt8173-uart","mediatek,mt6577-uart";
			reg = <0 0x11004000 0 0x400>;
			interrupts = <GIC_SPI 85 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&uart_clk>;
		};

		uart3: serial@11005000 {
			compatible = "mediatek,mt8173-uart","mediatek,mt6577-uart";
			reg = <0 0x11005000 0 0x400>;
			interrupts = <GIC_SPI 86 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&uart_clk>;
		};

		mmc0: mmc@11230000 {
			compatible = "mediatek,mt8173-mmc","mediatek,mmc";
			reg = <0 0x11230000 0 0x108>;
			interrupts-extended = <&gic GIC_SPI 71 IRQ_TYPE_LEVEL_LOW>;
			core-power-supply = <&mt6397_vemc_3v3_reg>;
			io-power-supply = <&mt6397_vio18_reg>;
			clocks = <&perisys PERI_MSDC30_0>, <&apmixedsys APMIXED_MSDCPLL>;
			clock-names = "src_clk", "pll_clk";
		};

		mmc1: mmc@11240000 {
			compatible = "mediatek,mt8173-mmc","mediatek,mmc";
			reg = <0 0x11240000 0 0x108>;
			interrupts-extended = <&gic GIC_SPI 72 IRQ_TYPE_LEVEL_LOW>;
			core-power-supply = <&mt6397_vmch_reg>;
			io-power-supply = <&mt6397_vmc_reg>;
			clocks = <&perisys PERI_MSDC30_1>, <&apmixedsys APMIXED_MSDCPLL>;
			clock-names = "src_clk", "pll_clk";
		};
	};

};
